.ppscurrencyexchangepage {
    display: flex;
    justify-content: center;
    container: page-container / size;
    height: 100%;
    box-sizing: border-box;


    &__card {
        width: 50%;
        height: fit-content;
        margin: 30px;
        background-color: rgba(190, 237, 255, 0.644)!important;


        >form {
            width: 100%;

            margin-bottom: 0px;

            >div {
                margin: auto;
                max-width: 1200px;

                >.button {
                    margin-top: 10px;
                }

            }

            >* {
                margin-bottom: 10px;
            }

            // grid-template-columns: repeat(auto-fill, minmax(min(150px*3, 100%), 1fr));
        }
    }
    &__select {
        width: 10%!important;  
    }   

    &__inputscontainer {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        margin-bottom: 1.5rem;

    }
    &__submitbutton{
        margin-top: 1.5rem;
    }
    &__title {
        font-size: 20px;
        font-weight: 600;;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: darkgrey;
    }
}